.nonProfitContainer {
    margin: 50px 0
    }
    
    .logoContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 50px
    }
    
    .logo {
        width: 15%;
        height: auto
    }

    .row headlineTitle {
        text-align: center;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    
    .#nonProfitNav>ul.navbar-nav {
        margin: 0 auto;
    }

    .responsive {
        width: 100%;
        height: auto; 
    }
    
    .nonProfitNav li.nav-item a {
        margin: 0 20px;
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(58, 179, 58);
    }
    
    .nonProfitNav li.nav-item a:hover {
        background-color: darkgreen;
        color: white
    }
    
    .aboutDiv {
        height: auto;
        background-image: url(../images/texture\ wood.jpg);
        margin: 20px 
        
    }
    
    .sitemapDiv {
        height: auto;
        background-image: url(../images/texture\ wood.jpg);
        margin: 20px
    }

    .styleGuideDiv {
        height: auto;
        background-image: url(../images/texture\ wood.jpg);
        margin: 20px
    }

    .userPersonaDiv {
        height: auto;
        background-image: url(../images/leaf\ texture.jpg) ;
        margin: 20px
    }

    .wireframeDiv {
        height: 2000px;
        background-image: url(../images/leaf\ texture.jpg);
        margin: 20px
    }

    .carousel-item {
        height: auto;
        margin-right: 500px;
    }
    
    .carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: darkgreen;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: darkgreen;
}

.prototypeSection {
    justify-content: center;
    display: flex;
}
   


   

    .prototypesDiv {
        height: auto;
        background-image: url(../images/leaf\ texture.jpg);
        margin: 20px;
    }
    
    .resumeBtnContainer {
        display: flex;
        justify-content: center;
    }

    h2 {
        color: forestgreen;
    }


    
    /* end note section */
    .endNoteSection {
        text-align: center;
    }
    
    .endNoteSection p:first-of-type {
        text-decoration: underline;
        color: navajowhite;
    }
    
    .endNoteSection p span {
        color: navajowhite;
        font-weight: bold;
    }
    .center {
        display: block;
        margin: auto;
        width: 50%;
      }

      .row {
          justify-content: center;
      }

      .carousel-item {
          justify-content: center;
          margin-left: 400px;
          display: block;
      }

/* ==== video display section ===*/
.video-section {
    width: 50%;
    height: auto;
     
}

.video-section div.row {
    margin-right: 550px;
}

.video-section h2{
    margin-right: 1000px;
}

.video-section video,
.video-section img,
.video-section iframe {
    height: auto;
    width: 200%;
}

    .endNoteSection .resumeBtn {
        border: 1px solid navajowhite;
        color: orangered;
        padding: 10px 20px;
        border-radius: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .endNoteSection .resumeBtn:hover {
        background-color: tan;
        border: 1px solid transparent;
        color: white
    }
    
    
    
    
    /* === Media Queries ==== */
    @media only screen and (max-width: 768px) {
        .logo {
            width: 30%;
            height: auto
        }
    
        .nonProfitNav {
            margin: 0 auto;
            justify-content: center !important;
    
        }
    
        .nonProfitNav li.nav-item {
            text-align: center;
        }
    }

    .nonProfitContainer {
        margin: 50px 0
        }
        
        
        .logoContainer {
            display: flex;
            justify-content: center;
            margin-bottom: 50px
        }
        
        .logo {
            width: 15%;
            height: auto
        }
        
        div#nonProfitNav>ul.navbar-nav {
            margin: 0 auto;
        }
        
        .nonProfitNav li.nav-item a {
            margin: 0 20px;
            text-transform: uppercase;
            font-weight: bold;
            color: mediumseagreen;
        }
        
        .nonProfitNav li.nav-item a:hover {
            background-color: seagreen;
            color: white
        }

        .prototypesDiv {
            display: flex
        }
        
        /* end note section */
        .endNoteSection {
            text-align: center;
        }
        
        .endNoteSection h3 {
            font-size: 140px;

        }
        .endNoteSection p:first-of-type {
            font-size: 70px;
            text-decoration: underline;
            color: forestgreen;
        }
        
        .endNoteSection p span {
            font-size: 70px;
            color: forestgreen;
            font-weight: bold;
        }

        .endNoteSection p {
            font-size: 60px;
        }
        
        .endNoteSection .resumeBtn {
            border: 1px solid tan;
            color: tan;
            padding: 20px 30px;
            border-radius: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }
        
        .endNoteSection .resumeBtn:hover {
            background-color: whitesmoke;
            border: 1px solid transparent;
            color: sienna
        }
            /* tool tip */
.customToolTip > div {
    display: flex;
    justify-content: right;
}
.customToolTip a.btn span i.fas.fa-chevron-circle-up {
    color: blue;
    font-size: 25px;
}

.customToolTip a.btn span i.fas.fa-chevron-circle-up:hover {
    color: skyblue;
}